body{
    background-color: lightblue;
}

#hair {
    background-color: black;
    height: 500px;
    width: 380px;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#face {
    height: 500px;
    width: 350px;
    background-color: #E8BEAC;
    border-radius: 50%;
    margin-top: 50px;
}

#bangs{
    display:flex;
}

#left-bang{
    background-color: black;

    height: 150px;
    width: 175px;

    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
}

#right-bang{
    background-color: black;
    
    height: 150px;
    width: 175px;

    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}



