body {
    font-family: 'Times New Roman';
}

.container{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-top: 30px;
}

.text{
    margin-top: 200px;
    margin-right: 50px;
    text-align: right;
    float: right;
    width: 1000px;
    font-size: 2em;
}

a:link {
    color: black;
}

a:visited {
    color: black;
  }

.link1{
    font-size: 7em;
    margin-left: 10px;
    position: fixed;
    bottom: 30px;
    width: 250px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.link2{
    font-size: 7em;
    margin-left: 150px;
    position: fixed;
    bottom: 30px;
    width: 250px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.link3{
    font-size: 7em;
    margin-left: 290px;
    position: fixed;
    bottom: 30px;
    width: 250px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.link4{
    font-size: 7em;
    margin-left: 440px;
    position: fixed;
    bottom: 30px;
    width: 250px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.flagship{
    float:right;
    padding-right: 50px;
    padding-bottom: 100px;
}